body {
    padding: 20px;
    font-size: 20px;
    font-family: Arial;
    background-color: #ceae6f;
    color:rgb(27, 27, 20);
    margin: auto;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
}
h2 {
    font-size: 35px;;
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
}
div {
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid #220e00;
}
ul li, ol li {
    border: 2px solid #291b11;
    color: #8b4513;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px auto;
    max-width: 400px;
    font-size: 20px;
    font-weight: bold;
    list-style-type: square;
    box-shadow: 0 0 20px rgba(54, 13, 0, 0.719);
}